<div class="container-fluid" ng-app="myApp" ng-controller="myCtrl">
    <div class="row">
        <div class="col-lg-8 p-r-0 title-margin-right">
            <div class="page-header">
                <div class="page-title">
                    <h1>银行卡号</h1>
                </div>
            </div>
        </div>
        <!-- /# column -->
        <div class="col-lg-4 p-l-0 title-margin-left">
            <div class="page-header">
                <div class="page-title">
                    <!--ol class="breadcrumb text-right">
                        <li><a href="#">Dashboard</a></li>
                        <li class="active">UI-Blank</li>
                    </ol-->
                </div>
            </div>
        </div>
    </div>

    <!-- /# row -->
    <section id="main-content">
        <div class="row">

            <div class="col-lg-12">
                <div class="card alert">
                    <div class="card-header">
                        <h4>银行卡号</h4>
                        <div class="card-header-right-icon">
                            <ul>
                                <li class="doc-link">
                                    <a class="btn btn-xs btn-info" data-toggle="modal" data-target="#myModal">添加银行卡号</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>卡片类型</th>
                                        <th>银行简称</th>
                                        <th>银行全称</th>
                                        <th>银行标记</th>
                                        <th>开户名称</th>
                                        <th>银行卡号</th>
                                        <th>开户行</th>
                                        <th>开户行号</th>
                                        <th>状态</th>
                                        <th width="15%">记录时间</th>
                                        <th width="6%">管理</th>
                                    </tr>
                                </thead>
                                <tbody>

                                <volist name="list.list" id="v">
                                    <tr>
                                        <th scope="row">{$v.id}</th>
                                        <td>{$v['types']>0?'对公账户':'对私账户'}</td>
                                        <td>{$v.bank}</td>
                                        <td>{$v.bank_name}</td>
                                        <td>{$v.bank_tag}</td>
                                        <td>{$v.name}</td>
                                        <td>{$v.cardid}</td>
                                        <td>{$v.open_bank}</td>
                                        <td>{$v.open_bank_id}</td>
                                        <td>{$v['status']>0?'正常':'暂停使用'}</td>
                                        <td>{$v.times|date='Y/m/d H:i:s',###}</td>
                                        <td>
                                            <a class="btn btn-info btn-xs" ng-click="updateInfo('{$v.id}')">更新</a>
                                            <a class="btn btn-danger btn-xs" ng-click="dels('{$v.id}')">删除</a>
                                        </td>
                                    </tr>
                                </volist>

                                </tbody>
                            </table>

                            <nav aria-label="Page navigation">
                                <ul class="pagination">{$list.show}</ul>
                            </nav>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document" style="width:35%;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">添加银行卡号</h4>
                </div>
                <div class="modal-body">

                    <form name="addon">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>卡片类型</label>
                                    <select name="types" class="form-control input-sm">
                                        <option value="0">对私账户</option>
                                        <option value="1">对公账户</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>银行账户类别</label>
                                    <select name="check" class="form-control input-sm">
                                        <option value="0">不含发票</option>
                                        <option value="1">普通发票</option>
                                        <option value="2">专用发票</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>银行名称</label>
                                    <input type="text" name="bank" class="form-control input-sm"/>
                                </div>
                                <div class="form-group">
                                    <label>银行全称</label>
                                    <input type="text" name="bank_name" class="form-control input-sm"/>
                                </div>
                                <div class="form-group">
                                    <label>银行标记</label>
                                    <input type="text" name="bank_tag" class="form-control input-sm"/>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>开户名</label>
                                    <input type="text" name="name" class="form-control input-sm"/>
                                </div>
                                <div class="form-group">
                                    <label>银行卡号</label>
                                    <input type="text" name="cardid" class="form-control input-sm"/>
                                </div>
                                <div class="form-group">
                                    <label>开户行</label>
                                    <input type="text" name="open_bank" class="form-control input-sm"/>
                                </div>
                                <div class="form-group">
                                    <label>开户行号</label>
                                    <input type="text" name="open_bank_id" class="form-control input-sm"/>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" onclick="addor()">添加</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="myEdits" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document" style="width:35%;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">修改银行卡号</h4>
                </div>
                <div class="modal-body">

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>卡片类型</label>
                                <select name="types" class="form-control input-sm" ng-model="info.types">
                                    <option value="0">对私账户</option>
                                    <option value="1">对公账户</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>银行账户类别</label>
                                <select name="check" class="form-control input-sm" ng-model="info.check">
                                    <option value="0">不含发票</option>
                                    <option value="1">普通发票</option>
                                    <option value="2">专用发票</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>银行名称</label>
                                <input type="text" name="bank" class="form-control input-sm" ng-model="info.bank"/>
                            </div>
                            <div class="form-group">
                                <label>银行全称</label>
                                <input type="text" name="bank_name" class="form-control input-sm" ng-model="info.bank_name"/>
                            </div>
                            <div class="form-group">
                                <label>银行标记</label>
                                <input type="text" name="bank_tag" class="form-control input-sm" ng-model="info.bank_tag"/>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>开户名</label>
                                <input type="text" name="name" class="form-control input-sm" ng-model="info.name"/>
                            </div>
                            <div class="form-group">
                                <label>银行卡号</label>
                                <input type="text" name="cardid" class="form-control input-sm" ng-model="info.cardid"/>
                            </div>
                            <div class="form-group">
                                <label>开户行</label>
                                <input type="text" name="open_bank" class="form-control input-sm" ng-model="info.open_bank"/>
                            </div>
                            <div class="form-group">
                                <label>开户行号</label>
                                <input type="text" name="open_bank_id" class="form-control input-sm" ng-model="info.open_bank_id"/>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" ng-click="updateOp()">更新</button>
                </div>
            </div>
        </div>
    </div>

</div>

<script>

    /**
     * 添加
     * @returns {undefined}
     */
    function addor() {
        var temp = $("form[name='addon']").serializeArray();
        var data = objToArray(temp);
        var baseurl = "{:U('Core/addon','model=sys_banks')}";
        //////
        $.ajax({
            url: baseurl,
            type: "post",
            data: data,
            dataType: "json",
            success: function (res) {
                if (res.status != 1) {
                    return swal('提示', res.msg, "error");
                }
                window.location.reload();
            },
            error: function () {

            },
        });
    }

    ////////////////////////////////////////////////////////////////////////////

    var app = angular.module('myApp', []);
    app.controller('myCtrl', function ($scope, $http) {

        $scope.info;

        /**
         * 通讯操作
         * @param {type} url
         * @param {type} data
         * @returns {undefined}
         */
        $scope.commAjax = function (url, data, success) {
            $http({
                method: "POST",
                url: url,
                data: data,
                headers: {'Content-Type': 'application/x-www-form-urlencoded'},
                transformRequest: function (obj) {
                    var str = [];
                    for (var p in obj) {
                        str.push(encodeURIComponent(p) + "=" + encodeURIComponent(obj[p]));
                    }
                    return str.join("&");
                }
            }).success(function (response) {
                success(response);
            });
        };

        ////////////////////////////////////////////////////////////////////////

        $scope.updateInfo = function (id) {
            $scope.commAjax("{:U('Core/infos','model=sys_banks')}", {ids: id}, function (res) {
                $scope.info = res.data;
                $("#myEdits").modal("show");
            });
        }

        $scope.updateOp = function () {
            var param = $scope.info;
            param.ids = param.id;
            /////////
            $.ajax({
                url: "{:U('Core/edits','model=sys_banks')}",
                type: "post",
                dataType: 'json',
                data: param,
                success: function (data) {
                    if (data.status !== 1) {
                        return swal("错误", data.msg, "error");
                    }
                    window.location.reload();
                },
                error: function (data) {
                    console.log(data);
                }
            });
        }

        $scope.dels = function (ids) {
            var param = {id: ids};
            $scope.commAjax("{:U('Core/dels','model=sys_banks')}", param, function (res) {
                if (res.status !== 1) {
                    return swal("错误", res.msg, "error");
                }
                window.location.reload();
            });
        }

    });




</script>