.idea/*
.ideal/*.xml
*.log
logs
*.iml
.project
.classpath
.settings
*/target
*/turing
*/.settings
*/.classpath
*/.project
*/*.iml
*/*.ipr
*.ipr
*/*.iws
*.iws
*/build
.DS_Store
*/logs
target
target/*
*/.idea/*
/*/dependency-reduced-pom.xml
*.flattened-pom.xml
.flattened-pom.xml
.vscode/*
auto_protobuf/
