<div class="container-fluid">
    <div class="row">
        <div class="col-lg-8 p-r-0 title-margin-right">
            <div class="page-header">
                <div class="page-title">
                    <h1>店铺管理</h1>
                </div>
            </div>
        </div>
        <!-- /# column -->
        <div class="col-lg-4 p-l-0 title-margin-left">
            <div class="page-header">
                <div class="page-title">
                    <!--ol class="breadcrumb text-right">
                        <li><a href="#">Dashboard</a></li>
                        <li class="active">UI-Blank</li>
                    </ol-->
                </div>
            </div>
        </div>
        <!-- /# column -->
    </div>
    <!-- /# row -->
    <section id="main-content">

        <div class="row">

            <div class="col-lg-12">
                <div class="card alert">
                    <div class="card-header">
                        <h4>店铺管理</h4>
                        <div class="card-header-right-icon">
                            <ul>
                                <li class="doc-link">
                                    <a class="btn btn-xs btn-info" data-toggle="modal" data-target="#myModal">添加店铺</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>店铺名称</th>
                                        <th>QQ</th>
                                        <th>电话</th>
                                        <th>状态</th>
                                        <th width="15%">记录时间</th>
                                        <th>管理</th>
                                    </tr>
                                </thead>
                                <tbody>

                                <volist name="list.list" id="v">
                                    <tr>
                                        <th scope="row">{$v.id}</th>
                                        <td>{$v.name}</td>
                                        <td>{$v.qicq}</td>
                                        <td>{$v.phone}</td>
                                        <td>{$v['status']>0?'正常':'暂停使用'}</td>
                                        <td>{$v.times|date='Y/m/d H:i:s',###}</td>
                                        <td>
                                            <a href="{:U('Shops/index_cats','id='.$v['id'])}" class="btn btn-info btn-xs">分类管理</a>
                                            <a href="{:U('Shops/index_info','id='.$v['id'].'&tar=product')}" class="btn btn-info btn-xs">简介管理</a>
                                            <a href="{:U('Shops/index_info','id='.$v['id'].'&tar=licence')}" class="btn btn-info btn-xs">资质管理</a>
                                            <a href="{:U('Shops/index_info','id='.$v['id'].'&tar=tickets')}" class="btn btn-info btn-xs">发票管理</a>
                                            <a href="javascript:dels('{$v.id}');" class="btn btn-danger btn-xs">删除</a>
                                        </td>
                                    </tr>
                                </volist>

                                </tbody>
                            </table>

                            <nav aria-label="Page navigation">
                                <ul class="pagination">{$list.show}</ul>
                            </nav>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
</div>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document" style="width:35%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">添加店铺</h4>
            </div>
            <div class="modal-body">

                <form>
                    <div class="form-group">
                        <label>店铺名称</label>
                        <input type="text" name="name" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label>QQ</label>
                        <input type="text" name="qicq" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label>电话</label>
                        <input type="text" name="phone" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label>状态</label>
                        <select name="status" class="form-control">
                            <option value="1">使用</option>
                            <option value="0">暂停</option>
                        </select>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" onclick="addor()">添加</button>
            </div>
        </div>
    </div>
</div>

<script>

    /**
     * 添加
     * @returns {undefined}
     */
    function addor() {
        var temp = $("form").serializeArray();
        var data = objToArray(temp);
        var baseurl = "{:U('Core/addon','model=shops')}";
        //////
        $.ajax({
            url: baseurl,
            type: "post",
            data: data,
            dataType: "json",
            success: function (res) {
                if (res.status != 1) {
                    return swal('提示', res.msg, "error");
                }
                window.location.reload();
            },
            error: function () {

            },
        });
    }

    /**
     * 删除
     * @returns {undefined}
     */
    function dels(id) {
        var data = {id: id};
        var baseurl = "{:U('Core/dels','model=shops')}";
        //////
        $.ajax({
            url: baseurl,
            type: "post",
            data: data,
            dataType: "json",
            success: function (res) {
                if (res.status != 1) {
                    return swal('提示', res.msg, "error");
                }
                window.location.reload();
            },
            error: function () {

            },
        });
    }

</script>


