<div class="container-fluid">
    <div class="row">
        <div class="col-lg-8 p-r-0 title-margin-right">
            <div class="page-header">
                <div class="page-title">
                    <h1>概览</h1>
                </div>
            </div>
        </div>
        <!-- /# column -->
        <div class="col-lg-4 p-l-0 title-margin-left">
            <div class="page-header">
                <div class="page-title">
                    <!--ol class="breadcrumb text-right">
                        <li><a href="#">Dashboard</a></li>
                        <li class="active">UI-Blank</li>
                    </ol-->
                </div>
            </div>
        </div>
        <!-- /# column -->
    </div>
    <!-- /# row -->
    <section id="main-content">

        <div class="row">
            <div class="col-lg-4">
                <div class="card alert">
                    <div class="card-body">
                        <div class="stat-widget-seven">
                            <div class="stat-icon">
                                <i class="ti-reload pull-left"></i>
                                <div class="card-option drop-menu pull-right"><i class="ti-settings" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" role="link"></i>
                                    <ul class="card-option-dropdown dropdown-menu">
                                        <li><a href="#"><i class="ti-loop"></i> Update data</a></li>
                                        <li><a href="#"><i class="ti-menu-alt"></i> Detail log</a></li>
                                        <li><a href="#"><i class="ti-pulse"></i> Statistics</a></li>
                                        <li><a href="#"><i class="ti-power-off"></i> Clear ist</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="stat-content">
                                <div class="stat-heading">
                                    <div class="count-header">总计流量</div>
                                    <div class="stat-count">6,45,840</div>
                                </div>
                                <div class="gradient-circle" id="visitor-circle">
                                    <i class="ti-cup"></i>
                                </div>
                                <div class="stat-footer">
                                    <div class="row m-0">
                                        <div class="col-lg-6 p-0 text-left">
                                            <div class="analytic-arrow">
                                                <i class="ti-arrow-up"></i>
                                                <i class="ti-arrow-down"></i>
                                            </div>
                                            <div class="stat-count">3,25,840</div>
                                            <div class="count-header">平均流量</div>
                                        </div>
                                        <div class="col-lg-6 p-0 text-right">
                                            <div class="analytic-arrow">
                                                <i class="ti-arrow-up"></i>
                                                <i class="ti-arrow-down"></i>
                                            </div>
                                            <div class="stat-count">1,65,210</div>
                                            <div class="count-header">独立流量</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card alert">
                    <div class="card-body">
                        <div class="stat-widget-seven">
                            <div class="stat-icon">
                                <i class="ti-reload pull-left"></i>
                                <div class="card-option drop-menu pull-right"><i class="ti-settings" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" role="link"></i>
                                    <ul class="card-option-dropdown dropdown-menu">
                                        <li><a href="#"><i class="ti-loop"></i> Update data</a></li>
                                        <li><a href="#"><i class="ti-menu-alt"></i> Detail log</a></li>
                                        <li><a href="#"><i class="ti-pulse"></i> Statistics</a></li>
                                        <li><a href="#"><i class="ti-power-off"></i> Clear ist</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="stat-content">
                                <div class="stat-heading">
                                    <div class="count-header">消费率</div>
                                    <div class="stat-count">46%</div>
                                </div>
                                <div class="gradient-circle" id="bounce-circle">
                                    <i class="ti-wallet"></i>
                                </div>
                                <div class="stat-footer">
                                    <div class="row m-0">
                                        <div class="col-lg-6 p-0 text-left">
                                            <div class="analytic-arrow">
                                                <i class="ti-arrow-up"></i>
                                                <i class="ti-arrow-down"></i>
                                            </div>
                                            <div class="stat-count">30%</div>
                                            <div class="count-header">平均消费率</div>
                                        </div>
                                        <div class="col-lg-6 p-0 text-right">
                                            <div class="analytic-arrow">
                                                <i class="ti-arrow-up"></i>
                                                <i class="ti-arrow-down"></i>
                                            </div>
                                            <div class="stat-count">4%</div>
                                            <div class="count-header">今日消费率</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="card alert">
                    <div class="card-body">
                        <div class="stat-widget-seven">
                            <div class="stat-icon">
                                <i class="ti-reload pull-left"></i>
                                <div class="card-option drop-menu pull-right"><i class="ti-settings" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" role="link"></i>
                                    <ul class="card-option-dropdown dropdown-menu">
                                        <li><a href="#"><i class="ti-loop"></i> Update data</a></li>
                                        <li><a href="#"><i class="ti-menu-alt"></i> Detail log</a></li>
                                        <li><a href="#"><i class="ti-pulse"></i> Statistics</a></li>
                                        <li><a href="#"><i class="ti-power-off"></i> Clear ist</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="stat-content">
                                <div class="stat-heading">
                                    <div class="count-header">查看页面</div>
                                    <div class="stat-count">9,47,570</div>
                                </div>
                                <div class="gradient-circle" id="pageviews-circle">
                                    <i class="ti-wallet"></i>
                                </div>
                                <div class="stat-footer">
                                    <div class="row m-0">
                                        <div class="col-lg-6 p-0 text-left">
                                            <div class="analytic-arrow">
                                                <i class="ti-arrow-up"></i>
                                                <i class="ti-arrow-down"></i>
                                            </div>
                                            <div class="stat-count">3,48,420</div>
                                            <div class="count-header">平均访问次数</div>
                                        </div>
                                        <div class="col-lg-6 p-0 text-right">
                                            <div class="analytic-arrow">
                                                <i class="ti-arrow-up"></i>
                                                <i class="ti-arrow-down"></i>
                                            </div>
                                            <div class="stat-count">1,92,035</div>
                                            <div class="count-header">今日访问次数</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>


</div>

<script src="__PUBLIC__/assets/js/lib/circle-progress/circle-progress.min.js"></script>
<script src="__PUBLIC__/assets/js/lib/circle-progress/circle-progress-init.js"></script>

