<div class="container-fluid">
    <div class="row">
        <div class="col-lg-8 p-r-0 title-margin-right">
            <div class="page-header">
                <div class="page-title">
                    <h1>系统文本列表</h1>
                </div>
            </div>
        </div>
        <!-- /# column -->
        <div class="col-lg-4 p-l-0 title-margin-left">
            <div class="page-header">
                <div class="page-title">
                    <!--ol class="breadcrumb text-right">
                        <li><a href="#">Dashboard</a></li>
                        <li class="active">UI-Blank</li>
                    </ol-->
                </div>
            </div>
        </div>
        <!-- /# column -->
    </div>
    <!-- /# row -->
    <section id="main-content">

        <div class="row">

            <div class="col-lg-12">
                <div class="card alert">
                    <div class="card-header">
                        <h4>系统文本列表</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>文本分类</th>
                                        <th width="10%">管理</th>
                                    </tr>
                                </thead>
                                <tbody>

                                <volist name="list.list" id="v">
                                    <tr>
                                        <th scope="row">{$v.id}</th>
                                        <td>{$v.name}</td>
                                        <td>
                                            <a href="{:U('Know/sysc_edit','id='.$v['id'])}" class="btn btn-info btn-xs">修改</a>
                                        </td>
                                    </tr>
                                </volist>

                                </tbody>
                            </table>

                            <nav aria-label="Page navigation">
                                <ul class="pagination">{$list.show}</ul>
                            </nav>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
</div>


