<style>
    .form-group{ margin-bottom:10px;}
</style>

<div class="container-fluid" ng-app="myApp" ng-controller="myCtrl">
    <div class="row">
        <div class="col-lg-8 p-r-0 title-margin-right">
            <div class="page-header">
                <div class="page-title">
                    <h1>订单管理</h1>
                </div>
            </div>
        </div>
        <!-- /# column -->
        <div class="col-lg-4 p-l-0 title-margin-left">
            <div class="page-header">
                <div class="page-title">
                    <!--ol class="breadcrumb text-right">
                        <li><a href="#">Dashboard</a></li>
                        <li class="active">UI-Blank</li>
                    </ol-->
                </div>
            </div>
        </div>
        <!-- /# column -->
    </div>
    <!-- /# row -->
    <section id="main-content">

        <div class="row">

            <div class="col-lg-12">
                <div class="card alert">
                    <div class="card-header">
                        <h4>订单管理</h4>
                        <!--div class="card-header-right-icon">
                            <ul>
                                <li class="doc-link">
                                    <a class="btn btn-xs btn-info" data-toggle="modal" data-target="#myModal">添加注册用户</a>
                                </li>
                            </ul>
                        </div-->
                    </div>
                    <div class="card-body">

                        <form action="{:U('Order/index')}" class="form-inline p-t-20 p-b-10">
                            <div class="form-group">
                                <label class="sr-only">订单编号</label>
                                <input type="text" name="sn" class="form-control input-sm" placeholder="请输入订单编号">
                            </div>
                            <div class="form-group">
                                <label class="sr-only">下单手机号码</label>
                                <input type="text" name="phone" class="form-control input-sm" placeholder="请输入下单手机号码">
                            </div>
                            <div class="form-group">
                                <label class="sr-only">订单状态</label>
                                <select name="status" class="form-control input-sm">
                                    <option value="">请选择订单状态</option>
                                    <option value="0">待付款</option>
                                    <option value="1">待发货</option>
                                    <option value="2">待收货</option>
                                    <option value="3">已完成</option>
                                    <option value="-1">已取消</option>
                                </select>
                            </div>
                            <button type="submit" class="btn btn-sm btn-info">搜索</button>
                        </form>

                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>用户账号</th>
                                        <th>用户备注</th>
                                        <th>订单编号</th>
                                        <th width="15%">订单创建时间</th>
                                        <th>订单含税标识</th>
                                        <th>订单商品总金额</th>
                                        <th>订单支付金额</th>
                                        <th>订单交易模式</th>
                                        <th>订单支付方式</th>
                                        <th>订单状态</th>
                                        <th width="20%">管理</th>
                                    </tr>
                                </thead>
                                <tbody>

                                <volist name="list.list" id="v" key='k'>
                                    <tr>
                                        <th scope="row">{$k}</th>
                                        <td>{$uid|getUsersName=$v['uid'],'phone',###}</td>
                                        <td>{$v.tags}</td>
                                        <td>{$v.sn}</td>
                                        <td>{$v.times|date='Y-m-d H:i:s',###}</td>
                                        <td>
                                            {$v['ticket']==0?'不含发票':''}
                                            {$v['ticket']==1?'普通发票':''}
                                            {$v['ticket']==2?'专用发票':''}
                                        </td>
                                        <td>{$v.ori_money}</td>
                                        <td>{$v.money}</td>
                                        <td>{$paymode|acPay=$v['paymode'],###}</td>
                                        <td>{$paytype|acPaytrs=$v['paytype'],$v['paymode'],###}</td>
                                        <td>{$status|acOrds=$v['status'],###}</td>
                                        <td>
                                            <a href="{:U('Order/infos','id='.$v['id'])}" class="btn btn-info btn-xs">详情</a>
                                            <gt name="v.status" value="0"><a ng-click="uptransInfo('{$v.id}')" class="btn btn-info btn-xs">物流详情</a></gt>
                                            <gt name="v.status" value="2"><a href="{:U('Order/comit','id='.$v['id'])}" class="btn btn-info btn-xs">商品评价</a></gt>

                                            <eq name="v.status" value="0">
                                            <a href="javascript:change('{$v.id}',-1);" class="btn btn-success btn-xs">取消</a>
                                            <a ng-click="dels('{$v.id}')" class="btn btn-danger btn-xs">删除</a>
                                            </eq>
                                            
                                            <eq name="v.status" value="0">
                                            <a ng-click="updateinfo('{$v.id}')" class="btn btn-info btn-xs">更新订单金额</a>
                                            </eq>
                                        </td>
                                    </tr>
                                </volist>

                                </tbody>
                            </table>

                            <nav aria-label="Page navigation">
                                <ul class="pagination">{$list.show}</ul>
                            </nav>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <!-- Modal -->
    <div class="modal fade" id="myEdits" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document" style="width:50%;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">更新物流信息</h4>
                </div>
                <div class="modal-body">

                    <div class="row">
                        <div class="col-md-6">
                            <!--div class="form-group">
                                <label>到货区域</label>
                                <input type="text" name="label" class="form-control input-sm" ng-model="info.label"/>
                            </div-->
                            <div class="form-group">
                                <label>承运物流</label>
                                <input type="text" name="trans" class="form-control input-sm" ng-model="info.trans"/>
                            </div>
                            <div class="form-group">
                                <label>物流单号</label>
                                <input type="text" name="trans_sn" class="form-control input-sm" ng-model="info.trans_sn"/>
                            </div>
                            <div class="form-group">
                                <label>货物编号</label>
                                <input type="text" name="trade_sn" class="form-control input-sm" ng-model="info.trade_sn"/>
                            </div>
                            <!--div class="form-group">
                                <label>收货人员</label>
                                <input type="text" name="save_name" class="form-control input-sm" ng-model="info.save_name"/>
                            </div>
                            <div class="form-group">
                                <label>收货电话</label>
                                <input type="text" name="save_phone" class="form-control input-sm" ng-model="info.save_phone"/>
                            </div-->
                            <div class="form-group">
                                <label>代收货款</label>
                                <input type="text" name="agent_money" class="form-control input-sm" ng-model="info.agent_money"/>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>物流运费</label>
                                <input type="text" name="trans_fee" class="form-control input-sm" ng-model="info.trans_fee"/>
                            </div>
                            <div class="form-group">
                                <label>物流电话</label>
                                <input type="text" name="trans_phone" class="form-control input-sm" ng-model="info.trans_phone"/>
                            </div>
                            <div class="form-group">
                                <label>取货地址</label>
                                <input type="text" name="get_addr" class="form-control input-sm" ng-model="info.get_addr"/>
                            </div>
                            <!--div class="form-group">
                                <label>发货图片</label>
                                <input type="file" name="trans_imgs" id="filedit" class="form-control input-sm"/>
                            </div>
                            <div class="help-block">
                                <img src="__PUBLIC__/uploads/trans_tik/{{info.trans_imgs}}" height="150"/>
                            </div-->
                        </div>
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" ng-click="uptransOp()">更新</button>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Modal -->
    <div class="modal fade" id="myEditsPrice" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document" style="width:35%;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">更新订单金额</h4>
                </div>
                <div class="modal-body">

                    <form>
                        <div class="form-group">
                            <label>金额</label>
                            <input type="text" name="money" class="form-control" ng-model="infos.money"/>
                        </div>
                       
                    </form>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" ng-click="updateCats()">更新</button>
                </div>
            </div>
        </div>
    </div>

</div>

<script>

    /**
     * 更新信息
     * @returns {undefined}
     */
    function change(id, st) {
        var data = {ids: id, status: st};
        //////
        $.ajax({
            url: "{:U('Core/edits','model=orders')}",
            type: "post",
            data: data,
            dataType: "json",
            success: function (res) {
                if (res.status != 1) {
                    return swal('提示', res.msg, "error");
                }
                window.location.reload();
            },
            error: function () {

            },
        });
    }

    var app = angular.module('myApp', []);
    app.controller('myCtrl', function ($scope, $http) {

        $scope.info;
        
       
        /**
         * 通讯操作
         * @param {type} url
         * @param {type} data
         * @returns {undefined}
         */
        $scope.commAjax = function (url, data, success) {
            $http({
                method: "POST",
                url: url,
                data: data,
                headers: {'Content-Type': 'application/x-www-form-urlencoded'},
                transformRequest: function (obj) {
                    var str = [];
                    for (var p in obj) {
                        str.push(encodeURIComponent(p) + "=" + encodeURIComponent(obj[p]));
                    }
                    return str.join("&");
                }
            }).success(function (response) {
                success(response);
            });
        };

        ////////////////////////////////////////////////////////////////////////
        
         $scope.updateinfo = function (id) {
            $scope.commAjax("{:U('Core/infos','model=orders')}", {ids: id}, function (res) {
                $scope.infos = res.data;
                $("#myEditsPrice").modal("show");
            });
        }
        $scope.updateCats = function () {
            var param = $scope.infos;
            param.ids = param.id;
            /////////
            $.ajax({
                url: "{:U('Core/edits','model=orders')}",
                type: "post",
                dataType: 'json',
                data: param,
                success: function (data) {
                    if (data.status !== 1) {
                        return swal("错误", data.msg, "error");
                    }
                    window.location.reload();
                },
                error: function (data) {
                    console.log(data);
                }
            });
        }


        $scope.uptransInfo = function (id) {
            $scope.commAjax("{:U('Order/trans_info')}", {ids: id}, function (res) {
                $scope.info = res.data;
                $("#myEdits").modal("show");
            });
        }

        $scope.uptransOp = function () {
            var param = $scope.info;
            /////////
            $.ajaxFileUpload({
                url: "{:U('Order/trans_up')}",
                secureuri: false,
                fileElementId: ["filedit"],
                dataType: 'json',
                data: param,
                success: function (data) {
                    if (data.status !== 1) {
                        return swal("错误", data.msg, "error");
                    }
                    window.location.reload();
                },
                error: function (data) {
                    console.log(data);
                }
            });
        }

        $scope.dels = function (ids) {
            var param = {id: ids};
            $scope.commAjax("{:U('Core/dels','model=orders')}", param, function (res) {
                if (res.status !== 1) {
                    return swal("错误", res.msg, "error");
                }
                window.location.reload();
            });
        }

    });

</script>


